/*

Custom stylesheet

Author: Benjamin Jaume

*/

:root {
  --caribbean-green: #05be9b;
  --oasis: #fbedc4;
  --salmon: #ff7b7b;
  --golden-bell: #ea9114;
  --pink: #f05c7e;
  --dark-cyan: #34b4a7;

  /* Constants */
  --navbar-height: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: url("../pictures/background.jpg") */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("../pictures/background.jpg");
  background-repeat: repeat;
  font-family: "Quicksand", Calibri, "Trebuchet MS", sans-serif, cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
