/*

Custom stylesheet

General styles applying to the entire website

Author: Benjamin Jaume

*/

:root {
  --green: #05be9b;
  --green-0-75: rgba(5, 190, 155, 0.75);

  --sand: #fbedc4;
  --salmon: #ff7b7b;
  --orange: #ea9114;

  --pink: #f05c7e;
  --pink-0-75: rgba(240, 92, 126, 0.75);

  --cyan: #34b4a7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("../pictures/background.jpg");
  background-repeat: repeat;
  font-family: "Quicksand", Calibri, "Trebuchet MS", sans-serif, cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer {
  background-color: var(--sand);
}

.attachment-logo-footer {
  width: 128px;
  height: 128px;
}
